<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Job Statistics Computation Finished</title>
    <style>
        * {
            font-family: Arial, Verdana, Georgia, and Courier, serif;
            color: black;
        }
    </style>
</head>
<body>
<p>
    Bonjour,
</p>
<p>Les calculs des statistiques d'annotations du job "<span th:text="${job.name}"></span>" (id=<span th:text="${job.id}"></span>) ont été effectués et le résultat vous est disponible en pièces jointes</p>
<br/>
<p>BPartners, l'assistant intelligent Tout-en-Un, qui accélère la croissance des artisans & indépendants
    français.</p>
</body>
</html>