<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Task Creation Finished</title>
    <style>
        * {
            font-family: Arial, Verdana, Georgia, and Courier, serif;
            color: black;
        }
    </style>
</head>
<body>
<p>
    Bonjour,
</p>
<p>L'initialisation des tâches pour le job (id=<span th:text="${job.id}"></span>) a été effectuée et elle est prếte à
    être commencée.</p>
</body>
</html>