name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

  workflow_call:

jobs:
  quality-check:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-maven-${{ hashFiles('**/build.gradle', '**/api.yml') }}
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Jacoco test coverage
        run: ./gradlew test

      - name: Checkstyle
        run: ./gradlew checkstyleMain checkstyleTest

      - name: Sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}  # needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew sonarqube --info \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.organization=bpartners \
            -Dsonar.projectKey=b-partners_bpartners-annotator-api \
            -Dsonar.coverage.exclusions=**/gen/** \
            -Dsonar.coverage.jacoco.xmlReportPaths=build/reports/jacoco/test/jacocoTestReport.xml \
            -Dsonar.java.checkstyle.reportPaths=build/reports/checkstyle/main.xml,build/reports/checkstyle/test.xml
